* {
  margin: 0;
  padding: 0;
}

.accueil-photo-mh {
  height: 40%;
  width: 40%;
  margin: 10px;
  box-shadow: 1px 1px 7px black;
}

.accueil-photo-salle {
  height: 50%;
  width: 50%;
  margin: auto;
  display: block;
  padding: 10px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}
  
.accueil-introduction h1 {
    margin-bottom: 15px;
}
  
.accueil-introduction p {
    margin-bottom: 30px;
    text-align: justify;
    padding: 0 5px 0 5px;
}
  
.accueil-introduction div {
    padding-right: 80px;
}

.section-contact h2 {
    color: #6D071A;
    text-align: center;
    margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 15px;
  border-radius: 3px;
}


textarea {
  padding: 15px;
  border-radius: 3px;
  border: solid, 1px, black;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header nav img {
    margin-bottom: 20px;
  }
  
  header,
  footer {
    padding: 20px 20px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  section {
    padding: 50px 20px 50px 20px;
  }
  
  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}