* {
    margin: 0;
    padding: 0;
}

p {
  text-align: center;
}

.recettes-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.recipe-preview {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.recipe-preview img {
  width: 100%;
  height: auto;
}

.recipe-preview h2 {
  font-size: 1.5em;
  margin: 10px 0;
  padding: 0 10px;
}

.recipe-preview:hover {
  transform: scale(1.05);
}
