* {
    margin: 0;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

nav ul li.dropdown {
  position: relative;
  display: inline-block;
}

nav ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav ul li .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav ul li .dropdown-content a:hover {
  background-color: #f1f1f1;
}

nav ul li:hover .dropdown-content {
  display: block;
}

.recettes-images {
    height: 100px;
    width: 200px;
    padding: 10px;
}

.recettes-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #94946a;
}

.recettes-nav a {
  margin-left: 95px;
}

a:hover {
    opacity: 50%;
}

.recettes ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.recettes li {
    margin-bottom: 5px;
}

@media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    header nav img {
        margin-bottom: 20px;
      }
    
      header,
      footer {
        padding: 20px 20px;
      }
    
      h1 {
        font-size: 2em;
      }
    
      section {
        padding: 50px 20px 50px 20px;
      }
    
      nav a {
        margin-left: 10px;
        margin-right: 10px;
      }
}