* {
    margin: 0;
}

h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #6D071A;
    text-shadow: 1px 1px 7px black;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 8px;
}

h3 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 8px;
}

hr {
    color: black;
    margin-left: 500px;
    margin-right: 500px;
}

p {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

header,
footer {
    background: #5a6643;
    padding: 20px 20px;
}

footer,
nav {
display: flex;
flex-direction: row;
align-items: center;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
}

a {
    color: #6D071A;
}

.lien-icone {
    margin-left: 30px;
}

.lien-icone:hover {
    opacity: 0.5;
}

.icone-footer {
    height: 32px;
    width: 32px;
}

.cta {
    display: inline-block;
    background: linear-gradient(#94946a, #5a6643);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

  .cta:hover {
    background: linear-gradient(#94946a, #5a6643);
    text-decoration: none;
    opacity: 80%;
}

@media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    header nav img {
        margin-bottom: 20px;
      }
    
      header,
      footer {
        padding: 20px 20px;
      }
    
      h1 {
        font-size: 2em;
      }
    
      section {
        padding: 50px 20px 50px 20px;
      }
    
      nav a {
        margin-left: 10px;
        margin-right: 10px;
      }
}