* {
    margin: 0;
    padding: 0;
}

:root{
    --hauteur-menu: 60px;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
li a {
    text-decoration: none;
    color: black;
}
  
.menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
  
.sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: #5a6643;
}

.sous-menu > li:hover {
    background-color: #94946A;
}
  
.sous-menu > li:hover > a {
    color: white;
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #6D071A;
    text-shadow: 1px 1px 7px black;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 8px;
}

h3 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 8px;
}

p {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    background: #5a6643;
}

footer {
display: flex;
flex-direction: row;
align-items: center;
}

a {
    color: #6D071A;
}

.lien-icone {
    margin-left: 30px;
}

.lien-icone:hover {
    opacity: 0.5;
}

.icone-footer {
    height: 32px;
    width: 32px;
}

.cta {
    display: inline-block;
    background: linear-gradient(#94946a, #5a6643);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

  .cta:hover {
    background: linear-gradient(#94946a, #5a6643);
    text-decoration: none;
    opacity: 80%;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #5a6643;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #5a6643;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

@media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    header nav img {
        margin-bottom: 20px;
      }
    
      header,
      footer {
        padding: 20px 20px;
      }
    
      h1 {
        font-size: 2em;
      }
    
      section {
        padding: 50px 20px 50px 20px;
      }
    
      nav a {
        margin-left: 10px;
        margin-right: 10px;
      }
}