* {
    margin: 0;
}

p {
    font-family: Arial, sans-serif;
    font-style: italic;
    background-color: #bac9ce;
    margin: 20px;
}

h1 {
    font-family: "Lobster", cursive;
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow: 6px 6px 0px #aebbd1;
}

.ma-classe {
    color: black;
}

.introduction {
    color: deeppink;
    font-weight: 700;
}

body {
    background-color: #e4e7f0;
    font-family: Arial, sans-serif;
    color: #1d313f;
}

.demo-border {
    border: 2px solid #36696d;
    border-radius: 10px;
    box-shadow: 6px 6px 0px 6px rgb(29, 49, 63);
}

img:hover {
    opacity: 0.5;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}

a:active {
    text-decoration-color: #1d313f;
}

a:focus {
    background-color: #1d313f;
    color: white;
    outline-color: deeppink;
}

img:hover + h2 {
    color: deeppink;
}

.banner {
    padding: 100px 0;
    background: url(images/oiseaux_background.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 100px 200px 150px;
    gap: 20px;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    grid-column-start: 1;
    grid-column-end: 6;
}

.two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.three {
    grid-column-start: 2;
    grid-column-end: 4;
}

.four {
    grid-column-start: 4;
    grid-column-end: 6;
}

.five {
    grid-column-start: 2;
    grid-column-end: 6;
}

.six {
    grid-column-start: 1;
    grid-column-end: 4;
}

.seven {
    grid-column-start: 4;
    grid-column-end: 6;
}

.eight {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nine {
    grid-column-start: 3;
    grid-column-end: 6;
}

th {
    border: 1px solid black;
    padding: 1em;
}

td {
    border: 1px solid black;
    padding: 1em;
}

tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

input {
    padding: 10px;
    border: 1px solid black;
}

input [type='submit'] {
    margin-top: 20px;
    font-size: 1em;
}

input,
textarea {
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

fieldset {
    background-color: #bac9ce;
}

legend {
    background-color: white;
}

.images {
    display: block;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    p {
        color: deeppink;
    }
}

@media screen and (max-width: 960px) {
    .conteneur {
        flex-direction: column;
    }

    img {
        display: none;
    }

    p {
        overflow: scroll;
    }
}